<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETOMI-Plate Number Recognition API</title>
</head>
<body>
    <h1>License Plate Recognition API</h1>
    <h3><strong>Introduction</strong></h3>
    <p>This RESTful API is developed using Flask. Flask is a Python<br>
         web framework, meaning it is a third-party Python library used for<br>
         developing web applications.</p>
    <h3><strong>The API</strong></h3>
    <p>
        The license plate recognition API provides a few endpoints that allows<br> 
        the main application fetch records relating to any plate number in the<br>
        database. The API used a document format or NoSQL database to store data<br>
         in documents similar to JSON (JavaScript Object Notation) objects. This<br> 
         choice of database is informed by the fact that NoSQL databases were<br> 
         built with flexibility and scalability in mind.
    </p>
</body>
</html>